{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/web/style.css' %}"> {% endblock %}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-7 col-md-9">
                <div class="footer-topic">INFO</div>
                <p class="text-justify">Projekt pełni rolę <i> PERSONALNEGO PORTFOLIO </i>.<br>
                    Użyte narzędzia: Django, HTML, CSS, JS, Bootstrap</p><br>
            </div>
            <div class="col-6 col-sm-5 col-md-3">
                <div class="footer-menu">
                    <div class="footer-topic">MENU</div>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">O mnie</a></li>
                        <li><a href="http://scanfcode.com/contact/">Pojekty</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Kontakt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">2020 &copy; Wszystkie prawa zastrzeżone dla
                <a href='{% url 'home' %}'><i>Łukasz Chaliński</i></a>.
            </div>
        </div>
    </div>
</footer>