{% extends "website/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/hobby/style.css' %}"> {% endblock %}
{% block title %}HOBBY{% endblock %}


{% block body %}

    <div class="page_title"> HOBBY</div>

{% for hobby in object_list %}
    {{ hobby.name }}
    {{ hobby.body|safe }}
    <img src="{{ hobby.galery.image1.url }}">
    <img src="{{ hobby.galery.image2.url }}">
    <img src="{{ hobby.galery.image3.url }}">
    <img src="{{ hobby.galery.image4.url }}">
    <iframe src="{{ hobby.iframe|safe }}"></iframe>

    {% endfor %}








{% endblock %}