.page_title {
    text-align: center;
    font-size: 40px;
    width: 100%;
    padding: 30px;
    color: #727272E8;
}

.video-content {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 15px;
}

.content-gallery {
    text-align: center;
}

.content-gallery img {
    max-width: 100%;
    height: auto;
    /*width: 300px;*/
    opacity: 0.7;
}

.content-gallery img:hover {
    opacity: 1;
}

.hobby-name {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #B3B3B3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
}

.hobby-body {
    color: #727272E8;
}


.spotify {
    text-align: center;
}

#spotify {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;

}

.item img {
    margin-bottom: 30px;

}


