html,
body {
    background: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.projects-title {
    color: #727272E8;
}

.page_title {
    text-align: center;
    font-size: 40px;
    width: 100%;
    padding: 30px;
    color: #727272E8;
}

.card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    margin-bottom: 30px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
}

.img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-category {
    text-align: right;
    padding: 12px;
}

.card-category img {
    width: 10%;
    height: 10%;
    display: inline-block;
    opacity: 0.5;
    margin-left: 5px;
}


.card-category img:hover {
    opacity: 0.9;
}

.card-category a {
    text-decoration: none;
}

.card-content {
    padding: 15px;
    text-align: left;
}


.card-title {
    margin-top: 0;
    color: #727272E8;
    font-size: 20px;
    text-transform: uppercase;
}

.snippet {
    color: #727272E8;
}

.card-title a {
    text-decoration: none !important;
    color: #727272E8;
}

.card-title a:hover {
    color: #484848;
    text-decoration: none;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
    text-align: center;
    padding: 10px;
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    text-transform: uppercase;
    color: #727272E8;
}

.card-read-more a:hover {
    color: #484848;
    text-decoration: none;
}


.project-tool {
    text-align: center;
    color: #727272E8;
    font-size: 17px;
    text-transform: uppercase;
    /*margin-bottom: 10px;*/
}

.repo-title {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #B3B3B3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
}

.tool-title {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    background-color: #B3B3B3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
}

.all-projects {
    margin-bottom: 50px;
}

.project-github {
    text-align: center;
    margin-bottom: 80px;
}

.project-banner {
    text-align: center;
}

.project-det-title {
    margin-top: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    background-color: #B3B3B3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
}

.project-det-body {
    margin-top: 0;
    color: #727272E8;
}

.project-category {
    text-align: center;

}

.project-category a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.project-category img {
    display: inline-block;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.project-category img:hover {
    opacity: 0.9;
}

.git-link a {
    color: #727272E8;
    text-decoration: none;
}

.git-link a:hover {
    color: #484848;
}

.img-fluid img{
    margin-top: 15px;
}

.carousel-inner .carousel-item {
    margin-bottom: 25px;
    margin-top: 25px;
}