body {
    min-height: 0px;
}

/*NAVBAR CSS*/
.navbar {
    height: auto !important;
    padding: .5rem 1rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.navbar-brand {
    font-family: PT Serif, serif;
    text-transform: lowercase;
    font-weight: 700;
    color: black;
}

.brand a {
    color: black;
}

nav {
    z-index: 10
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 2rem !important
    }
}

@media (min-width: 960px) {
    .navbar-brand {
        font-size: 2.5rem !important
    }
}

/*END NAVBAR*/


/*FOOTER*/
.site-footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
    font-size: 15px;
    color: #727272E8;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.footer-topic {
    color: #727272E8;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}

.site-footer a {
    color: #727272E8;
}

.site-footer a:hover {
    color: #484848;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #727272E8
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #484848;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.footer-menu {
    text-align: center;
}

/*END FOOTER*/


