{% extends "website/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/aboutme/style.css' %}"> {% endblock %}
{% block title %}O MNIE{% endblock %}


{% block body %}
    <div class="page_title"> O MNIE</div>
    <div class=" card card-area">
        <div class="container">
            <div class="row">
                <div class="text-center ">
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="services-area">
        <div class="container">
            <div class="row">

                {#                <div class="col-lg-12 text-center services-title">#}
                {##}
                {#                    <p class="para">#}
                {#                        Tutaj będzie znajdował się krótki opis poniższych umiejętności, które zdobyłem od początku#}
                {#                        przygody z programowaniem.#}
                {#                    </p>#}
                {#                </div>#}
            </div>
            <div class="my-banner">
                <div class="page_title2"> UMIEJĘTNOŚCI</div>
            </div>
            <div class="container services-list">
                <div class="row">
                    {% if object_list %}
                        {% for skill in object_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="services">
                                    <div class="services-img text-center py-4">
                                        <img src=" {{ skill.image.url }} " alt="skill">
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase font-roboto">{{ skill.title }}</h5>
                                        <p class="card-text text-secondary">
                                            {{ skill.content|safe }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div class="my-banner">
        <div class="page_title2"> WYKSZTAŁCENIE</div>
    </div>

    {% for edu in my_education %}
        <section class="education">
            <div class="container">
                <div class="row">
                    <div class=" col-6 col-sm-5 col-md-3">
                        <div class="edu-date"> {{ edu.date_from }} - {{ edu.date_to }}</div>
                    </div>
                    <div class="col-6 col-sm-7 col-md-9">
                        <div class="edu-title">{{ edu.school_name }}</div>
                    </div>
                    <div class=" col-sm-5 col-md-3">
                        <div class="edu-image">
                            <img src="{{ edu.school_image.url }}">
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-9">
                        <div class="edu-body">
                            {{ edu.body }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="edu-cert">
                            <a href="{{ edu.certificate.url }}" target="_blank"> <img
                                    src="{{ edu.certificate.url }}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}