{% extends "website/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/projects/style.css' %}"> {% endblock %}
{% block title %}ALL PROJECTS{% endblock %}


{% block body %}

    <div class="page_title"> WSZYSTKIE PROJEKTY</div>

    <div class="container">

        <div class="row">

            {% if object_list %}
                {% for project in object_list %}

                    <div class="col12 col-sm-4">
                        <div class="card">
                            <a class="img-card"
                               href="#">
                                <img src="{{ project.image.url }}"/>
                            </a>
                            <div class="card-content">



                                <div class="card-title">
                                    <a href="#">
                                        {{ project.title }}
                                    </a>



                                </div>
                                <p class="snippet">
                                    {{ project.snippet }}
                                </p>
                            </div>

                                 <div class="card-category">

                                    {% for category in project.category.iterator %}
                                        <img src="{{ category.tool_image.url }}"/>
                                    {% endfor %}
                                </div>

                            <div class="card-read-more">
                                <a href="#">
                                    szczegóły
                                </a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}