<div class="col-lg-12 text-center projects-title">
    <p class="para">
        Tutaj będzie znajdował się krótki opis wszystkich moich projektów.
    </p>
</div>
<br>
<div class="container">
    <div class="row">
        {% if object_list %}
            {% for project in object_list %}
                <div class="col12 col-sm-4">
                    <div class="card">
                        <a class="img-card"
                           href="{{ project.get_absolute_url }}">
                            <img src="{{ project.image.url }}"/>
                        </a>
                        <div class="card-content">
                            <div class="card-title">
                                <a href="{{ project.get_absolute_url }}">
                                    {{ project.title }}
                                </a>
                            </div>
                            <p class="snippet">
                                {{ project.snippet }}
                            </p>
                        </div>
                        <div class="card-category">
                            {% for category in project.category.iterator %}
                                <a href="{% url 'projects:category_projects_list' category.slug %}">
                                    <img src="{{ category.tool_image.url }}"/> </a>
                            {% endfor %}
                        </div>
                        <div class="card-read-more">
                            <a href="{{ project.get_absolute_url }}">
                                szczegóły
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
