{% extends "website/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact/style.css' %}"
          xmlns="http://www.w3.org/1999/html"> {% endblock %}
{% block title %}KONTAKT{% endblock %}


{% block body %}

    <div class="page_title"> KONTAKT</div>

    <div class="container">
        <p class="para">
            Zapraszam do kontaktu! <br> Bardzo chętnie odpowiem na wszystkie pytania.
        </p>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <form method="POST" class="formularz">
                    {% csrf_token %}
                    <input type="Text" name="text" required="" placeholder="Twoje imię" class="form-control">
                    <br>
                    <input type="Email" name="Email" required="" placeholder="Twój Email" class="form-control">
                    <br>
                    <textarea rows="6" placeholder="Treść wiadomości" required="" class="form-control"></textarea>
                    <br>
                    <center>
                        <button class="btn btn-outline-secondary">Wyślij wiadomość</button>
                    </center>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <br>
                <div class="infos">
                    <p class="icn"><i class="fa fa-map-marker"></i> &nbsp;&nbsp; KRAKÓW
                    </p>
                    <p class="icn"><i class="fa fa-phone"></i> &nbsp;&nbsp; +48 &nbsp; 882 - 077 - 865 </p>
                    <p class="icn"><i class="fa fa-envelope"></i> &nbsp;&nbsp; L.CHALINSKI@GMAIL.COM </p>
                </div>
                <hr>
                <div class="media-s">
                    {% for social in object_list %}
                        <a href="{{ social.social_link }}" target="_blank">
                            <img src="{{ social.image.url }}"/> </a>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}